@page
@model ContactUJBlockchain.Pages.users.CreateModel
@{
}

<br />
<h2 class="text-center text-light">New Contact</h2>

@if (Model.successMessage.Length > 0)
{
	<div class="row mb-3 justify-content-center">
		<div class="col-sm-6">
			<div class="alert alert-success alert-dismissible fade show text-center" role="alert">
				<strong>@Model.successMessage</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
	</div>
		
}

<form method="POST">
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label text-light">Name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="name" value="@Model.userInfo.name"/>
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label text-light">Email</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="email" value="@Model.userInfo.email" />
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label text-light">Message</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="message" value="@Model.userInfo.message" />
		</div>
	</div>

	@if (Model.errorMessage.Length > 0)
	{
		<div class="row mb-3 justify-content-center">
			<div class="col-sm-6">
				<div class="alert alert-warning alert-dismissible fade show text-danger text-center" role="alert">
					<strong>@Model.errorMessage</strong>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</div>
		</div>
	}


	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary"><i>Submit</i></button>
		</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-danger" href="/Index"><i class="text-light">Cancel</i></a>
		</div>
	</div>	

</form>
